# Auto detect text files and normalize line endings to LF
* text=auto eol=lf

# Explicit text files
*.ts text eol=lf
*.html text eol=lf
*.scss text eol=lf
*.css text eol=lf
*.json text eol=lf
*.md text eol=lf
*.js text eol=lf

# Binary files
*.png binary
*.jpg binary
*.ico binary
